[type="text"].ng-dirty.ng-valid {
  background: #ECFFEC;
  position: relative;
}

[type="text"].ng-dirty.ng-invalid {
  background: #FFCFD0;
}

.bg-danger {
  color: #fff;
  padding: 1em;
  margin-top: 1em;
}































body { margin: 2em; }
h1 span img { width: 50px; height: 50px; }
::-webkit-input-placeholder { color: #666 !important;}
:-moz-placeholder { color: #666 !important;  }
::-moz-placeholder { color: #666 !important;  }
:-ms-input-placeholder { color: #666 !important;  }